<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index {% endblock %}

{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bit Coin</title>
</head>
<body>
<br />
<br />
<br />
<br />
<h2 class="sub-header">Bit Coin</h2>
    <img src="{% static 'images/bitcoin.png' %}" alt="form" width="641" height="458"><br/><br/>
<h2 class="sub-header">Ethereum</h2>
    <img src="{% static 'images/ethereum.png' %}" alt="form" width="641" height="458"><br/><br/>
<h2 class="sub-header">Ripple</h2>
    <img src="{% static 'images/ripple.png' %}" alt="form" width="641" height="458"><br/><br/>
<h2 class="sub-header">Litecoin</h2>
    <img src="{% static 'images/litecoin.png' %}" alt="form" width="641" height="458"><br/><br/>
    <br />

</body>
</html>

{% endblock %}